#toolbar {
    position: absolute;
    top: 0px;
    left:0px;
    right: 0px;
    height: 50px;
}

.divider {
    border: 1px solid black;
    margin:0;
    padding:0;
    cursor: col-resize;

    position: absolute;
    height: 100%;
    top: 0px;
    bottom: 0px;
    width: 5px;
}

.divider-left {
    border-width: 0px 0px 0px 0px;
    right: 0px;
    padding-left: 5px;
    margin-left: -5px;
}
.divider-right {
    border-width: 0px 0px 0px 0px;
    left: 0px;
    padding-right: 5px;
    margin-right: -5px;
}



#editor {
    position: absolute;
    top: 50px;
    left:200px;
    right: 300px;
    bottom: 50px;
}

#sidebar {
    position: absolute;
    top: 50px;
    right:0px;
    width: 300px;
    bottom: 50px;
}

#filebrowser.left-collapse {    display: none; }
#sidebar.right-collapse {       display: none; }
#editor.left-collapse {         left: 0px   !important; }
#editor.right-collapse {        right: 0px  !important; }


#footer {
    position: absolute;
    height: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#ace-editor {
    position: absolute;
    left:0;
    right:0;
    border: 1px solid darkgray;
    top: 5.8em;
    bottom:0;
    border-width: 1px 1px 1px 0px;
    font-family: "Source Code Pro", monospace;
}


.search-results {
    overflow: auto;
    margin: 0;
    padding: 0;
    width: 40em;
    height: 240px;
}
.search-results li {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    border: 1px solid gray;
    border-width: 1px 1px 0px 1px;
    padding: 0.5em;
}
.search-results h4, .search-results p {
    margin:0;
    padding:0;
}
