#ace-editor {
    width: 100%;
    height: 100%;
}
#mainarea {
    padding-top: 60px;
}
.fixed-pane {
    position: fixed;
    top: 4em;
    bottom: 10px;
}
.left-pane {
    left: 10px;
    width: 220px;
}
.center-pane {
    left: 230px;
    right: 420px;
    width: auto;
    border: 0px solid gray;
}
.right-pane {
    right: 10px;
    width: 400px;
}
.tab-content {
    border: 0px solid gray;
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
#console {
    position: absolute;
    width: 100%;
    overflow: auto;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px;
    top: 5px;
    bottom: 30px;
    font-size: 90%;
}

#console-tools {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#serial {
    overflow: auto;
    position: absolute;
    width: 100%;
    overflow: auto;
    border: 1px solid gray;
    padding: 5px;
    top: 60px;
    bottom: 0px;
    font-size: 90%;
}

#console p {
    background-color: #f0f0f0;
}
#console p.response {
    background-color: #ffe0e0;
}
#sketch-picker {
    position: absolute;
    overflow: auto;
    border: 0px solid gray;
    top: 100px;
    bottom: 40px;
    right: 20px;
    left: 0px;
}
#sketch-buttons {
    position: absolute;
    bottom: 0px;
}
#search-results {
    position: absolute;
    top: 50px;
    left: 110px;
    display: none;
}
.dropdown-menu {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}
