<ul class='tree' ng-controller='FilebrowserCtrl as fb'>

    <li ng-repeat='sketch in fb.sketches'>
        <a href='#'><i class='fa fa-folder-open-o'></i> {{sketch.label}} </a>
        <ul>
            <li ng-repeat='file in sketch.files'>
                <a href='#'
                    ng-click='fb.loadFile(file)'
                ><i class='fa fa-file-o'></i> {{file.label}}</a>
            </li>
        </ul>
    </li>


</ul>

<div class='toolbar'>
    <button><i class="fa fa-plus"></i></button>
    <button><i class="fa fa-minus"></i></button>
</div>
