<!DOCTYPE html>
<html ng-app='app'>
<head>
    <title>Electron IDE</title>
    <link rel='stylesheet' href='font-awesome/css/font-awesome.css'>
    <link rel='stylesheet' href='css/mockup.css'>
    <style type='text/css'>
        #toolbar {
            position: absolute;
            top: 0px;
            left:0px;
            right: 0px;
            height: 50px;
        }
        #filebrowser {
            position: absolute;
            top: 50px;
            left:0px;
            width: 200px;
            bottom: 50px;
        }

        .divider {
            border: 1px solid black;
            margin:0;
            padding:0;
            cursor: col-resize;

            position: absolute;
            height: 100%;
            top: 0px;
            bottom: 0px;
            width: 5px;
        }

        .divider-left {
            border-width: 0px 0px 0px 0px;
            right: 0px;
            padding-left: 5px;
            margin-left: -5px;
        }
        .divider-right {
            border-width: 0px 0px 0px 0px;
            left: 0px;
            padding-right: 5px;
            margin-right: -5px;
        }

        #editor {
            position: absolute;
            top: 50px;
            left:200px;
            right: 300px;
            bottom: 50px;
        }
        #sidebar {
            position: absolute;
            top: 50px;
            right:0px;
            width: 300px;
            bottom: 50px;
        }

        #footer {
            position: absolute;
            height: 50px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }

        #editor-textarea, #serial-console {
            border: 0px solid green;
            height: 100%;
            padding: 1em;
            background-color: white;
        }

        #toolbar input {
            width: 10em;
        }
        #sidebar input {
            width: 100%;
        }

        .search-results {
            overflow: auto;
            margin: 0;
            padding: 0;
            width: 40em;
            height: 240px;
        }
        .search-results li {
            list-style: none;
            margin: 0;
            padding: 0;
            background-color: lightgray;
            border: 1px solid gray;
            border-width: 1px 1px 0px 1px;
            padding: 0.5em;
        }
        .search-results h4, .search-results p {
            margin:0;
            padding:0;
        }





    </style>
</head>
<body ng-controller='MainCtrl as ctrl'>



<div id='toolbar' class='pane'>
    <div class='inline logo'>Electron</div>

    <div class='inline'>
        <button class='primary' ng-click='ctrl.compile()'>Check <i class="fa fa-check"></i></button>
        <button class='primary' ng-click='ctrl.run()'>Run <i class='fa fa-play'></i></button>
    </div>

    <div class='inline align-right'>
        <button class='primary' ng-click='ctrl.openSettings()'>Settings <i class='fa fa-gear'></i></button>
    </div>

    <div class='inline'>
        <label>Serial Port</label>
        <div class='select'>
            <select ng-model='ctrl.selectedPort' ng-options='p.label for p in ctrl.ports'></select>
        </div>
    </div>

    <div class='inline'>
        <label>Board</label>
        <div class='select'>
            <select
                style='width: 6em;'
                ng-model='ctrl.selectedBoard'
                ng-options='b.name for b in ctrl.boards'
                ng-change='ctrl.choseBoard()'
                ></select>
        </div>
    </div>
</div>

<div id='filebrowser' class='pane'>
    <div class='divider divider-left'></div>
    <div class='pane-title'>File Browser</div>
    <ul class='tree'>

        <li><a href='#'><i class="fa fa-folder-o"></i> foo</a></li>
        <li><a href='#'><i class="fa fa-file-o"></i> bar</a></li>
        <li><a href='#'><i class="fa fa-folder-open-o"></i> foo folder</a>
            <ul>
                <li><a href='#'><i class="fa fa-file-o"></i>
                    sub item 1</a>
                </li>
                <li><a href='#'><i class="fa fa-file-o"></i>
                    sub item 2</a>
                </li>
            </ul>
        </li>
    </ul>

</div>


<div id='editor' class='pane'>
    <div id='editor-title' class='pane-title'>
        <span>MySketch</span>
        <button ng-click='ctrl.openLibrary()' class='align-right action small'><i class='fa fa-plus'></i> Library</button>
    </div>
    <ul id='editor-tabs' class='tab-group'>
        <li ng-repeat='(id, file) in ctrl.files' ng-class='ctrl.getActive(id)'>
            <a href='#' ng-click="ctrl.switchTab(id)">{{file.id}}</a>
        </li>
    </ul>
    <div id='editor-textarea'>
        {{ctrl.editBuffer}}
        </div>
</div>

<div id='sidebar' class='pane'>
    <div class='divider divider-right'></div>
    <div class='pane-title'>
        Sidebar
    </div>
    <ul id='editor-tabs' class='tab-group'>
        <li class='active'>Console</li>
        <li>Docs</li>
    </ul>
    <ul class='tab-content-group'>
        <li class='active'>
            <div id='serial-console'>
                <div ng-include="'serial_panel.html'"></div>
            </div>
        </li>
        <li class=''>
            docs
                board info
                library info
                searchable docs
        </li>
    </ul>
</div>

<div id='footer' class='pane'>
    <!--
        status bar: debug messages from compiling.
        opens if errors are found. compiled, uploaded, etc.
    -->
    {{ctrl.footerStatus}}

</div>

<div id='settings-dialog' class='dialog' ng-show='ctrl.settingsVisible'>
    <h3 class='header'>Settings</h3>

    <div class='content'>
        <input type='checkbox'>tracking<br/>
        <input type='radio' name='theme' value='light'>Light<br/>
        <input type='radio' name='theme' value='light'>Dark<br/>
        default board when creating a new sketch
        <select>
            <option>board1</option>
            <option>board2</option>
        </select>
    </div>
    <div class='footer'>
        <button ng-click='ctrl.closeSettings()' class='align-right'>done</button>
    </div>
</div>


<div id='library-search-dialog' class='dialog' ng-show='ctrl.librarySearchVisible'>
    <h3 class='header'>Add Library</h3>
    <div class='content'>
        <input class='search'
            ng-model='ctrl.searchQuery'
            type='text'
            placeholder='search by name or tag'
            ng-change='ctrl.searchLibrary()'>
        <button ng-click='ctrl.searchLibrary()' class='primary'>Search</button>
        <ul class='search-results'>
            <li ng-repeat='library in ctrl.searchResults'>
                <h4>{{library.name}}</h4>
                <p>{{library.description}}</p>
                <p>{{library.tags}}</p>
                <button ng-click='ctrl.addLibrary(library)'><i class="fa fa-plus-square"></i> Add</button>
            </li>
        </ul>
    </div>
    <div class='footer'>
        <button ng-click='ctrl.closeLibrary()' class='align-right'>done</button>
    </div>
</div>

<div id='board-search-dialog' class='dialog' ng-show='ctrl.boardSearchVisible'>
    <h3 class='header'>Add Board</h3>
    <div class='content'>
        <input type='text'
            class='search'
            placeholder='board search'
            ng-model='ctrl.boardQuery'
            ng-change='ctrl.searchBoard()'
            >
        <ul class='search-results'>
            <li ng-repeat='board in ctrl.boardResults'>
                <h4>{{board.name}}</h4>
                <p style='font-size: 90%'>
                    <i>{{board.vendor}}</i>
                </p>
                <button ng-click='ctrl.selectBoard(board)'>Choose <i class="fa fa-plus-square"></i></button>
            </li>
        </ul>
    </div>
    <div class='footer'>
        <button ng-click='ctrl.closeBoardSearch()' class='align-right'>done</button>
    </div>
</div>

<script src="jquery.js"></script>


<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js'></script>
<script type='text/javascript'>
angular.module('app',[])
    .controller('MainCtrl', ['$http',function($http) {
        var self = this;
        this.settingsVisible = false;
        this.librarySearchVisible = false;
        this.boardSearchVisible = false;

        this.files = {
            'f1': { id:'MySketch.ino',content: 'contents of file 1' },
            'f2': { id:'Api.h',       content: 'contents of file 2' },
            'f3': { id:'Api.cpp',     content: 'contents of file 3' },
        };
        this.tab = 'f1';
        this.editBuffer = this.files.f1.content;

        this.ports = [
            {id:'cuamodem1234',     label:'Uno'},
            {id:'cuamodem4867',     label:'cuamodem4867'},
            {id:'com1',             label:'Xadow'},
            {id:'@none',            label:'None'},
            {id:'@rescan',          label:'Rescan'},
        ];

        this.selectedPort = this.ports[1];

        this.boards = [
            {id:'uno', name:'Uno', vendor:'Arduino CC'},
            {id:'leonardo',name:'Leonardo', vendor:'Arduino CC'},
            {id:'xadow',name:'Xadow', vendor: 'Seeedstudio LLC'},
            {id:'@more',name:'More...', vendor: ''},
        ];

        this.selectedBoard = this.boards[0];
        this.boardQuery = null;
        this.boardResults = [];
        this.boardResultsVisible = false;

        this.searchBoard = function() {
            var q = this.boardQuery.toLowerCase();
            if(q.length < 2) return;
            this.boardResultsVisible = true;
            console.log("searching for",this.boardQuery);
            $http.get('/boards').then(function(res) {
                self.boardResults = [];
                res.data.forEach(function(board) {
                    if(board.id.toLowerCase().indexOf(q) >= 0
                     || board.name.toLowerCase().indexOf(q) >= 0)
                     {
                         self.boardResults.push(board);
                     }
                });
            });
        };
        this.selectBoard = function(board) {
            this.boards.push(board);
            this.selectedBoard = board;
        }

        this.choseBoard = function() {
            console.log('chose',this.selectedBoard);
            if(this.selectedBoard.id == '@more') {
                this.boardSearchVisible = true;
            }
        }
        this.closeBoardSearch = function() {
            this.boardSearchVisible = false;
        }

        this.openSettings = function() {
            self.settingsVisible = true;
        }
        this.closeSettings = function() {
            self.settingsVisible = false;
        }
        this.openLibrary = function() {
            self.librarySearchVisible = true;
        }
        this.closeLibrary = function() {
            self.librarySearchVisible = false;
        }
        this.footerStatus = '';
        this.compile = function() {
            console.log("compiling");
            this.footerStatus = 'Compiling...';
            setTimeout(function() {
                self.footerStatus = '';
            },5000)
        }
        this.run = function() {
            console.log("running");
            this.footerStatus = 'Running...';
            setTimeout(function() {
                self.footerStatus = '';
            },5000)
        }

        this.getActive = function(tab) {
            return {
                active: (tab==self.tab)
            }
        }
        this.switchTab = function(tab) {
            self.tab = tab;
            self.editBuffer = this.files[tab].content;
        }

        this.searchResults = [];
        this.libraries = [
            {
                "id":"adafruit_motorshield",
                "name":"Adafruit Motorshield",
                "description":"Adafruit Motor Shield V2 library",
                "tags":["motor"],
                "source":"git",
                "location":"https://github.com/adafruit/Adafruit_Motor_Shield_V2_Library.git",
                "platforms":["avr"],
                "dependencies":["wire"],
                "homepage":"https://github.com/adafruit/Adafruit_Motor_Shield_V2_Library.git"
            },
            {
                "id":"cmd",
                "name":"Cmd",
                "description":"Simple serial command line prompt for Arduino",
                "tags":["serial"],
                "source":"git",
                "location":"https://github.com/joshmarinacci/CmdArduino.git",
                "platforms":["avr"],
                "homepage":"http://www.freaklabs.org/index.php/Tutorials/Software/Tutorial-Using-CmdArduino.html"
            },
            {
                "id":"gsm",
                "name":"GSM",
                "description":"With the Arduino GSM Shield, this library enables an Arduino board to do most of the operations you can do with a GSM phone",
                "tags":["standard","gsm","phone","gprs","networking","sms"],
                "source":"ide",
                "location":"GSM",
                "platforms":["avr"],
                "homepage":"http://arduino.cc/en/Reference/GSM"
            },
            {
                "id":"nespad",
                "name":"NESPad",
                "description":"NESpad/SNESpad: Nintendo Joystick/Game Pad Libraries for Arduino",
                "tags":["joystick","input"],
                "source":"git",
                "location":"https://github.com/joshmarinacci/nespad-arduino.git",
                "platforms":["avr"],
                "homepage":"https://github.com/joshmarinacci/nespad-arduino"
            },
            {
                "id":"liquidcrystal",
                "name":"Liquid Crystal",
                "description":"Allows an Arduino board to control LiquidCrystal displays (LCDs) based on the Hitachi HD44780 (or a compatible) chipset, which is found on most text-based LCDs",
                "tags":["standard","lcd","display"],
                "source":"ide",
                "location":"LiquidCrystal",
                "platforms":["avr"],
                "homepage":"http://arduino.cc/en/Reference/LiquidCrystal"
            },

        ];
        this.searchQuery = null;
        this.searchLibrary = function() {
            var q = this.searchQuery.toLowerCase();
            console.log("searching", q);
            self.searchResults = [];
            this.libraries.forEach(function(lib) {
                if(lib.name.toLowerCase().indexOf(q) >= 0
                || lib.description.toLowerCase().indexOf(q) >= 0
                ) {
                    self.searchResults.push(lib);
                }
            })
        };

        this.addLibrary = function(lib) {
            console.log("adding library",lib);
        }
    }]);

var MIN_SIDEBAR_WIDTH = 200;
$(document).ready(function() {
    $('.divider-left').mousedown(function (e) {
        e.preventDefault();
        $(document).mousemove(function (e) {
            e.preventDefault();
            var x = e.pageX;
            if(x > MIN_SIDEBAR_WIDTH) {
                $('#filebrowser').css("width", x);
                $('#editor').css("left", x);
            }
        });
        $(document).mouseup(function (e) {
            $(document).unbind('mousemove');
        });
    });
    $('.divider-right').mousedown(function (e) {
        e.preventDefault();
        $(document).mousemove(function (e) {
            e.preventDefault();
            var docw = $(document).width();
            var x = docw-e.pageX;
            if(x > MIN_SIDEBAR_WIDTH) {
                $('#sidebar').css('width',x);
                $('#editor').css('right',x);
            }
        });
        $(document).mouseup(function (e) {
            $(document).unbind('mousemove');
        });
    });
})




</script>

</body>
</html>
