<div class='inline align-right'>
    <button class='primary' ng-click='ctrl.openSettings()'>Settings <i class='fa fa-gear'></i></button>
</div>

<div class='inline logo'>Electron</div>

<div class='inline'>
    <button class='primary' ng-click='ctrl.compile()'>Check <i class="fa fa-check"></i></button>
    <button class='primary' ng-click='ctrl.run()'>Run <i class='fa fa-play'></i></button>
</div>


<div class='inline'>
    <label>Serial Port</label>
    <div class='select'>
        <select
            ng-model='ctrl.selectedPort'
            ng-options='p.comName for p in ctrl.ports'></select>
    </div>
</div>

<div class='inline'>
    <label>Board</label>
    <div class='select'>
        <select
            style='width: 6em;'
            ng-model='ctrl.selectedBoard'
            ng-options='b.name for b in ctrl.boards'
            ng-change='ctrl.choseBoard()'
            ></select>
    </div>
</div>
