<div class='uk-modal-dialog'>
    <h3 class='header'>Delete Sketch {{ctrl.selectedSketch.label}}</h3>
    <form class='uk-form'>
        <input type='text'
            placeholder='new sketch name'
            ng-model='ctrl.selectedSketch.id'
            >
    </form>
    <div class='footer'>
        <button ng-click='ctrl.cancelDeleteSketchDialog()' class='uk-button'>cancel</button>
        <button ng-click='ctrl.acceptDeleteSketchDialog()' class='uk-button uk-button-primary'>delete</button>
    </div>
</div>
