/* dividers */
.divider {
    margin:0;
    padding:0;
    cursor: col-resize;

    position: absolute;
    height: 100%;
    top: 0px;
    bottom: 0px;
    width: 5px;
}

.divider-left {
    border-width: 0px 0px 0px 0px;
    right: 0px;
    padding-left: 5px;
/*    margin-left: -5px;*/
}
.divider-right {
    border-width: 0px 0px 0px 0px;
    left: 0px;
    padding-right: 5px;
/*    margin-right: -5px;*/
}
